*.tap
*.bin
*~
*.d
*.o
*.zip
unittests
salink
saimport
saexport
specasm-bare
test_content_zx
SAIMPORT
SAEXPORT
SPECASM
*.map
SALINK
SAIMPORT.X
SAEXPORT.X
UNITNEXT
UNITZX
SAIMPORT.X
SAEXPORT.X
SAMAKE
SAMAKE.X
build.sh
compile.sh
!build/48/specasm/
!bas/48/*.TAP
!bas/128/*.TAP
!bas/*.TAP
build/48/specasm/release/
!build/next/specasm/
!build/128/specasm/
build/next/specasm/release/
build/48/unit/tests/
build/128/unit/tests/
build/next/unit/tests/
examples/hello/hello
examples/hello/hello.x
.DS_Store
