*.tap
*.bin
*~
*.d
*.o
*.zip
unittests
salink
saimport
saexport
specasm-bare
sbclextest
test_content_zx
SAIMPORT
SAEXPORT
SAIMPORT.X
SAEXPORT.X
build.sh
compile.sh
build/release
build/unitzx
.DS_Store
